---
import Layout from '../layouts/Layout.astro';
<<<<<<< HEAD:src/pages/login.astro
import MyLogin from '../components/login.vue'
import '../components/styles/style.astro'
=======
import Card from '../components/astro/Card.astro';
import NasaImage from '../components/vue/NasaImage.vue'
>>>>>>> c17dd9eec56a6c2210bc805d3a8ea6a8c68938b7:src/pages/get-nasa-images.astro
---

<html>
	<body>
		<main>
			<!-- <h1 class="font-bold">This is Astro Test</h1> -->
			<NasaImage client:visible />
		</main>
	</body>
</html>