---
import Layout from '../layouts/Layout.astro';
import Login from '../components/Login.vue'
---

<html>
	<body>
		<main>
			<!-- <h1 class="font-bold">This is Astro Test</h1> -->
			<Login client:visible />
		</main>
	</body>
</html>