---
import Layout from '../layouts/Layout.astro';
import MyLogin from '../components/Login.vue'
import '../components/styles/style.astro'
---

<html>
	<body>
		<main>
			<!-- <h1 class="font-bold">This is Astro Test</h1> -->
			<MyLogin client:visible />
		</main>
	</body>
</html>