---
import Layout from '../layouts/Layout.astro'
import IsTest from '../components/main.vue'
import '../components/styles/auth.css'
---

<html>
	<body>
		<main>
			<!-- <h1 class="font-bold">This is Astro Test</h1> -->
			<IsTest client:visible />
		</main>
	</body>
</html>